.item{
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.item img{
    width: 300px;
    height: 250px;
    margin: 5px;
}

.mainDiv {
    padding-top: 1.5%;
    margin-left: auto;
    margin-right: auto;
    
}



/* .item{
    border:2px solid #EBE65E;
    display: inline-block;
    width: 300px;
    height: 400px;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    vertical-align: top;
    color: white;
    text-align: center;
} */

/* .item {
    width: 500px;
    text-align: center;
}

.item img{
    width: 190px;
    height: 120px;
    margin: 5px;
}

.item .button-div{
    text-align: center;
}


.item .item-price{
    color:#EBE65E;
    font-size: 2rem;
    font-weight: bold;
}

.search-container {
    margin-top: 2em;
}

.button-div button {
    background-color: #EBE65E !important;
    border-style: none;
    color: #141413; 
} */

/* .wrapper {
height: 91vh;
} */

/* .container-xl {
    background-color: #ABABAB;
    text-align: center;
}

.footerLogo{
    border:2px solid #EBE65E;
    text-align: center;
}

.footerLogo1{
    text-align: center;
    border:2px solid #EBE65E;
}

.footerLogo2{
    text-align: center;
    border:2px solid #EBE65E;
}

.footerLogo3{
    text-align: center;
    border:2px solid #EBE65E;
}

footer {
    background-color: #ABABAB;
    text-align: center;
} */

/* footer {
    margin-top: 4.5%;
    margin-bottom: 0;
    border-bottom: white solid 0;
} */

/* footer ul{
    margin-bottom: 0;
} */





